.my-home-container {
    width: 80%;
    margin: 0 auto;
}

.comic-img {
    background-repeat:no-repeat; 
    background-size:cover; 
    width: 10em; 
    height: 10em; 
    background-position-x: center;
}